*,cover
*._*
*.pyc
*.pyo
*_flymake.py
*~
.*.sw*
.*.swp
.DS_Store
.\#*
.cache
.coverage
.noseids
.project
.pydevproject
.ropeproject
.settings
.~lock.*
TAGS
\#*
build/
coverage/
docs/api-docs/build
local
milostruct/_milostruct.c
milostruct/_milostruct.so
sphinx
tags
tmp
